.color-grid{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 190px;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 5px;

  .color-bar-wrapper{
    margin-right: 10px;
    padding: 5px;

    .color-bar-color-none,
    .color-bar{
      background-color: #f2f0f0;
      border-radius: 50%;
      box-shadow: 2px 3px 5px grey;
      height: 50px;
      width: 50px;
      .color-bar-color-none-line {
        border-bottom: 2px solid #FF9800;
        height: 48px;
        position: relative;
        transform: translateY(-16px) translateX(16px) rotate(40deg);
        width: 48px;
      }
    }

    .color-bar-color-none{
      background-color: #e5e5e5;
    }
  }
}

.color-slider{
  --bar-background-active: none;
  --bar-border-radius: 5px;
  --bar-height: 10px;
  ion-range:disabled{
    --bar-background-active: none;
  }
}